@{
    ViewData["Title"] = "Emily West";
}

<div class="text-center">
    <h1 class="display-4">Emily West</h1>
@*    <h6>Full-Stack Software Engineer</h6>
*@    
    <br />
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6">
                    <img src="img/WOU headshot 2022.jpg" alt="Headshot image" class="img-fluid" />
                </div>
                <div class="col-sm-6">
                    <h3>About Me:</h3>
                    <p style="text-align: left">
                        &nbsp; I am a graduate student at Oregon State University pursuing a Master of Science in Computer Science with a concentration in Artificial Intelligence. I graduated from Western Oregon University with a bachelor’s degree in computer science in Spring of 2023. 
                        While at WOU, I was also a 4-year DII volleyball player for the wolves. My programming background is mainly in C# and Python from WOU, while I am developing my C++ skills at Oregon State. 
                        I am highly interested in creating diverse and inclusive programs, especially when it comes to Artificial Intelligence.
                    </p>

                    <br />
                    <br />
                    <a class="btn btn-peach text-light-emphasis bg-primary-subtle btn-lg px-3 pb-2" asp-controller="Home" asp-action="Projects" role="button">
					Projects
				    </a>

                    <a class="btn btn-peach text-light-emphasis bg-primary-subtle btn-lg px-3 pb-2" asp-controller="Home" asp-action="Resume" role="button">
                        Resume
                    </a>
                </div>
            </div>
            
            
        </div>
        <div class="col-md-4">
            <div class="row">
                <h3>Skills:</h3>
                <p>Python | C# | ASP.NET | JavaScript | Azure Deployment | Git and GitHub | CSS | SQL | Jira | Agile and Scrum </p>
            </div>

            <br />
            <div class="row">
                <div class="col">
                    <h3>Contact:</h3>
                    <p>Westemily08@gmail.com</p>
                    <a class="btn btn-peach text-light-emphasis bg-primary-subtle btn-lg px-3 pb-2" role="button" href="https://www.linkedin.com/in/emily-west-1513a51aa/">Linkedin</a>  <a class="btn btn-peach text-light-emphasis bg-primary-subtle btn-lg px-3 pb-2" href="https://github.com/WestEmily">GitHub</a>
                    
                </div>
            </div>
@*
            <div class="row">
                <h3>Projects:</h3>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Watch Party</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Group Project</h6>
                        <p class="card-text">
                            This project was a year long 4-person group project for my senior capstone software engineering course in my undergraduate degree. We used ASP.NET as our primary framework, along with CSS, HTML, JavaScript, and JQuery.
                            We utilized multiple APIs to create a useful and fun application. We worked in an agile environment with 2-week sprints. We used Jira for team management purposes.
                        </p>
                        <a href="https://watchparty2023.azurewebsites.net/" class="card-link">Watch Party</a>
                    </div>
                </div>


                
            </div>*@
        </div>
    </div>
    
</div>
