@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1>Projects</h1>
    <br />

    <div class="row">
        <div class="col-md-6">
            <h2>Watch Party</h2>

            <p>
                This project was a year-long group project for my software engineering capstone sequence. We created an application called “Watch Party”, a social media platform for finding new shows or movies and engaging with friends and family through posts and reviews.
                We used ASP.NET Core as our main framework, alongside C#, JavaScript, SQL, Selenium and NUnit for testing, and Azure for database management and deployment. We worked in an agile environment, working in two-week sprints and using Jira as a management tool.
                I mainly worked on the profile and authorization, the watch lists, and the search details. I used Identity for authentication and utilized repository patterns to create a profile. The watch lists are where users can save shows and movies into three different lists, so they can keep track of shows that they have seen, want to watch, and are currently watching.
                The search details are where you can click on a search result and see more details about that show, along with some interesting pictures and displays.
                These last two pieces that I worked on both utilized the TMDB API to create the best user experience.
            </p>
            <a class="btn btn-peach text-light-emphasis bg-primary-subtle btn-lg px-3 pb-2" role="button" href="https://watchparty2023.azurewebsites.net/">Website</a>
            <a class="btn btn-peach text-light-emphasis bg-primary-subtle btn-lg px-3 pb-2" role="button" href="https://github.com/mondoyanez/SeniorProjectCaimanLizard">GitHub</a>
            <p></p>
            <img src="~/img/WatchParty_lists.jpg" alt="Watch Party Lists" class="img-fluid" />
        </div>
        <div class="col-md-6">
            
            <img src="~/img/WatchParty_Details1.jpg" alt="Watch Party Details 1" class="img-fluid" />
            <img src="~/img/WatchParty_Details2.jpg" alt="Watch Party Details 2" class="img-fluid" />
        </div>
        
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>Youth Risk Behavior</h2>
            <p>
                This is my final project for a Data Visualization class. I used Python as the main programming language.
                I chose to write my final project on youth risk behavior. The dataset that I used can be found <a href="https://chronicdata.cdc.gov/Youth-Risk-Behaviors/DASH-Youth-Risk-Behavior-Surveillance-System-YRBSS/q6p7-56au">here.</a>
                My first graphs show risky behavior for high school students based on different demographics.
                I made each of these a separate chart, so the user would be able to fully digest the information given on each one and see the differences between them all.
                My final chart is interactive, giving the user the ability to select different states/countries and see either the greater risk average, lesser risk average, or both.
                I enjoyed being able to learn how to effectively display data for the user, so that I can tell a story with such a large dataset.
            </p>
            <a class="btn btn-peach text-light-emphasis bg-primary-subtle btn-lg px-3 pb-2" role="button" href="https://github.com/Ewest19/Data-Visualization">GitHub</a>
        </div>
        <div class="col-md-6">
            <img src="~/img/YouthRisk1.jpg" alt="Youth Risk 1" class="img-fluid" />
            <img src="~/img/YouthRisk2.jpg" alt="Youth Risk 2" class="img-fluid" />
            <img src="~/img/YourthRisk3.jpg" alt="Youth Risk 3" class="img-fluid" />
        </div>
    </div>

    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>Kitchen Buddy</h2>
            <p>
                Kitchen Buddy is a project for the JavaScript class. I used svelte as the main framework, along with lucia and prisma for authentication and database management.
                Kitchen Buddy is a web application that allows users to store recipe cards and share them with other users of the site. 
                Users can also create pantries and grocery lists, where they can store individual items and quantities, so they can know what items they have or need to be able to create a recipe.
            </p>
            <a class="btn btn-peach text-light-emphasis bg-primary-subtle btn-lg px-3 pb-2" role="button" href="https://github.com/Ewest19/CS135_Javascript/tree/dev">GitHub</a>
            
            <p></p>
            <img src="~/img/KB_GroceryList.jpg" alt="Kitchen Buddy 3" class="img-fluid" />

        
        </div>
        <div class="col-md-6">
            <img src="~/img/KB_YourRecipes.jpg" alt="Kitchen Buddy 1" class="img-fluid" />
            <img src="~/img/KB_AllRecipes.jpg" alt="Kitchen Buddy 2" class="img-fluid" />
        </div>
    </div>


</div>