@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>
<br />

<p>Email: Westemily08@gmail.com</p>
<p>Linkedin: <a href="https://www.linkedin.com/in/emily-west-1513a51aa/">Emily West</a></p>
<p>Gihub: <a href="https://github.com/WestEmily">WestEmily</a></p>

<br />
<p>Thank you for your time!!</p>