@{
    ViewData["Title"] = "Resume";
}

<div class="text-left">
    <div class="row">
        <div class="col">
            <h1 style="text-align:center">Resume</h1>

            <h5>PDF version: <a href="~/img/Resume_10-13.pdf">Resume</a></h5>
            <img src="~/img/Resume.jpg" alt="Resume" class="img-fluid" />

        </div>
        <div class="col">
            <h1 style="text-align:center">CV</h1>
            <h5>PDF version: <a href="~/img/CV_10-23.pdf">Curriculum vitae</a></h5>
            
            <img src="~/img/CV1.jpg" alt="CV Page 1" class="img-fluid" />
            <p></p>
            <img src="~/img/CV2.jpg" alt="CV Page 2" class="img-fluid" />


            @*<h3>Education</h3>
            <p>   MS Oregon State University, Computer Science <br />
                   Estimated graduation, Spring 2025
            </p>
            <p>
                BS	Western Oregon University, Computer Science <br />
                3.59/4.00 GPA
            </p>

            <h3>Honors and Awards</h3>
	        <p>Academic Honor Roll 2019-2023 <br />
                GNAC Academic All-Conference 2021-2022</p>

            <h3>Relevant Coursework</h3>
            <p></p>*@


        </div>
    </div>
    


</div>